<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bearlingo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Sử dụng CDN của FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


    <!-- CSS FILES -->
    <link rel="preconnect" @Url.Content("https://fonts.googleapis.com")>
    <link rel="stylesheet" @Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")>
    <link rel="preconnect" @Url.Content("https://fonts.gstatic.com") crossorigin>
    <link rel="stylesheet" @Url.Content("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap")>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet">


    <style>
        .correct {
            color: #28a745;
        }
        /* Màu xanh là màu của Bootstrap cho "success" */
        .incorrect {
            color: #dc3545;
        }
        /* Màu đỏ là màu của Bootstrap cho "danger" */
        /* Reset margins & paddings */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Body */
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            background: #f5f5f5;
        }

        /* Header */
        .header {
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0,0,0,.1);
            position: fixed;
            left: 0;
            right: 0;
            z-index: 100;
        }

        .navbar {
            padding: 20px 0;
        }

        .navbar-brand {
            font-size: 32px;
            font-weight: bold;
            color: #0066ff;
        }

        .nav-link {
            font-size: 18px;
            font-weight: 500;
            color: #333;
            transition: 0.3s ease;
        }

            .nav-link:hover {
                color: #0066ff;
            }

        /* Section */
        .section-padding {
            padding: 50px 0;
        }

        .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            padding: 30px;
        }

        .card-title {
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 30px;
        }

        h4, h5 {
            margin: 20px 0;
        }

        /* Footer */
        .footer {
            background-color: #0066ff;
            color: #fff;
            text-align: center;
            padding: 30px;
        }

            .footer p {
                margin-bottom: 0;
            }

        /* Responsive */
        @@media (max-width: 768px) {
            .navbar-brand {
                font-size: 24px;
            }

            .nav-link {
                font-size: 16px;
            }
        }
        /* Style cho modal */

        .modal-content {
            background-color: #f2f2f2;
            border-radius: 10px;
        }

        .modal-header {
            background-color: #34568b;
            color: #fff;
        }

        .modal-title {
            color: #fff;
        }

        /* Style nội dung */
        .modal-body {
            text-align: left;
            padding: 30px;
        }

            .modal-body p {
                color: #333;
                margin-bottom: 10px;
            }

            .modal-body img {
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0,0,0,0.4);
                max-width: 100%;
            }

        /* Style footer */
        .modal-footer {
            background-color: #f2f2f2;
            border-top: 1px solid #ccc;
        }

            .modal-footer button {
                background-color: #34568b;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 10px 20px;
            }
    </style>
</head>

<body id="top">

    <main>

        @Html.Partial("Navbar")

        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 mt-3 mx-auto">

                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title text-center">Chi tiết bài làm</h2>
                                @{
                                    var info = ViewBag.info;
                                }
                                <h4>Phần nghe</h4>
                                <h5>Điểm: @info.DiemL</h5>
                                <h5>Số câu đúng: @info.SoCauDungL/100</h5>
                                <div class="row">
                                    @for (int i = 0; i < ViewBag.listening.Count; i++)
                                    {
                                        var question = ViewBag.listening[i];
                                        <div class="col-md-3">
                                            <span>Câu hỏi @(i + 1):</span>
                                            <i class="fas @(question.DapAnNguoiDungL == question.DapAnDung ? "fa-check-circle correct" : "fa-times-circle incorrect")"></i>
                                            <a href="#" data-toggle="modal" data-target="#exampleModal_@(question.IDListening)">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                        <div class="modal fade bd-example-modal-xl" id="exampleModal_@(question.IDListening)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Đáp án chi tiết câu @(i + 1)</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <audio controls>
                                                            <source src="/audio/@question.Audio" type="audio/mpeg">
                                                        </audio>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12" style="display:flex; justify-content:center">
                                                                @if (question.Picture != null)
                                                                {
                                                                    <img src="/images/@question.Picture" style="height: 55vh;width: 40vw; border-radius: 10px; border: 1px solid black; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div style="margin-top: 20px"></div>
                                                                <h3>@question.NoiDung</h3>
                                                                <p>A. @question.DapAn1</p>
                                                                <p>B. @question.DapAn2</p>
                                                                <p>C. @question.DapAn3</p>
                                                                <p>D. @question.DapAn4</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p style="margin-top: 50px !important">Đáp án của bạn: @question.DapAnNguoiDungL</p>
                                                                <p>Đáp án đúng: @question.DapAnDung</p>
                                                                <p>Giải thích: @question.GiaiThich</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <script>
                                            $('#exampleModal_@(question.IDListening)').on('hidden.bs.modal', function () {
                                                $(this).find('audio')[0].pause();
                                            })
                                        </script>
                                    }
                                </div>

                                <h4>Phần đọc</h4>
                                <h5>Điểm: @info.DiemR</h5>
                                <h5>Số câu đúng: @info.SoCauDungR/100</h5>
                                <div class="row">
                                    @for (int i = 0; i < ViewBag.reading.Count; i++)
                                    {
                                        var question = ViewBag.reading[i];
                                        <div class="col-md-3">
                                            <span>Câu hỏi @(i + 101):</span>
                                            <i class="fas @(question.DapAnNguoiDungR == question.DapAnDung ? "fa-check-circle correct" : "fa-times-circle incorrect")"></i>
                                            <a href="#" data-toggle="modal" data-target="#modalReading_@(question.IDReading)">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </div>
                                        <div class="modal fade bd-example-modal-xl" id="modalReading_@(question.IDReading)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Đáp án chi tiết câu @(i + 101)</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-md-12" style="display:flex; justify-content:center">
                                                                @if (question.Picture != null)
                                                                {
                                                                    <img src="/images/@question.Picture" style="height: 55vh;width: 40vw; border-radius: 10px; border: 1px solid black; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);" />
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div style="margin-top: 20px"></div>
                                                                <h3>@question.NoiDung</h3>
                                                                <p>A. @question.DapAn1</p>
                                                                <p>B. @question.DapAn2</p>
                                                                <p>C. @question.DapAn3</p>
                                                                <p>D. @question.DapAn4</p>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <p style="margin-top: 50px !important">Đáp án của bạn: @question.DapAnNguoiDungR</p>
                                                                <p>Đáp án đúng: @question.DapAnDung</p>
                                                                <p>Giải thích: @question.GiaiThich</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    @Html.Partial("Footer")

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/click-scroll.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
