<!doctype html>
<html lang="en">
@{
    Layout = null;
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bearlingo</title>
    <link rel="icon" href="images/300775178_401970438737681_809766260095184123_n (1).png">
    <script src="https://kit.fontawesome.com/355da00255.js" crossorigin="anonymous"></script>

    <!-- CSS FILES -->
    <link rel="preconnect" @Url.Content("https://fonts.googleapis.com")>
    <link rel="stylesheet" @Url.Content("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")>
    <link rel="preconnect" @Url.Content("https://fonts.gstatic.com") crossorigin>
    <link rel="stylesheet" @Url.Content("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap")>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/templatemo-topic-listing.css" rel="stylesheet">
    <style>
        .pagination {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .pagination li {
                margin: 0 5px;
            }

            .pagination a {
                text-decoration: none;
                color: #007bff;
                padding: 5px 10px;
                border: 1px solid #007bff;
                border-radius: 3px;
            }

                .pagination a:hover {
                    background-color: #007bff;
                    color: #fff;
                }

            .pagination .active a {
                background-color: #007bff;
                color: #fff;
            }
    </style>
</head>

<body id="top">

    <main>

        @Html.Partial("Navbar")

        <section class="section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12 col-12 text-center">
                        <h3 class="mb-4">Ngữ Pháp</h3>
                    </div>

                    <div class="col-lg-8 col-12 mt-3 mx-auto">
                        @foreach (var item in ViewBag.grammars)
                        {
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5">
                                <div class="d-flex">
                                    <img src="~/images/topics/undraw_Remote_design_team_re_urdx.png" class="custom-block-image img-fluid" alt="">

                                    <div class="custom-block-topics-listing-info d-flex">
                                        <div>
                                            <h5 class="mb-2">@item.TenNguPhap</h5>

                                            <p class="mb-0">Click button below to more information.</p>

                                            <a class="btn custom-btn mt-3 mt-lg-4" asp-controller="Grammar" asp-action="GrammarDetail" asp-route-id="@item.IdchuDeNguPhap">Learn More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div>
                            <ul class="pagination">
                                @if (ViewBag.currentPage > 1)
                                {
                                    <li>
                                        <a href="/Grammar/Grammar?num=@(ViewBag.currentPage - 1)">Prev</a>
                                    </li>
                                }

                                @for (int i = 1; i <= ViewBag.totalPages; i++)
                                {
                                    <li class="@(i == ViewBag.currentPage ? "active" : "")">
                                        <a href="/Grammar/Grammar?num=@i">@i</a>
                                    </li>
                                }

                                @if (ViewBag.currentPage < ViewBag.totalPages)
                                {
                                    <li>
                                        <a href="/Grammar/Grammar?num=@(ViewBag.currentPage + 1)">Next</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @Html.Partial("Footer")

    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/click-scroll.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>