@{
    Layout = "~/Views/Shared/_AdminBearlingoLayout.cshtml";
}
<script src="//cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item active"><a href="#"><b>Danh sách Bài Viết</b></a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">

                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" asp-action="AddBlog" asp-controller="Blog" title="Thêm">
                            <i class="fas fa-plus"></i>
                            Tạo mới Blog
                        </a>
                    </div>
                </div>
                <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                       id="sampleTable">
                    <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th width="20">ID </th>
                            <th width="700">Tiêu đề</th>
                            <th width="100">Ảnh </th>
                            <th width="200">Tính năng</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in ViewBag.blogs)
                        {
                            <tr>
                                <td width="10"><input type="checkbox" name="check1" value="@item.Idblog"></td>
                                <td>#@item.Idblog</td>
                                <td>@item.TieuDe</td>
                                <td><img class="img-card-person" src="@item.Anh" alt=""></td>
                                <td class="table-td-center">
                                    <button class="btn btn-primary btn-sm trash" type="button" title="Xóa"
                                            onclick="DeleteBlog(@item.Idblog)">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                                            data-toggle="modal" data-target="#ModalUP@(item.Idblog)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </td>
                                <div class="modal fade" id="ModalUP@(item.Idblog)" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static"
                                     data-keyboard="false">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="form-group  col-md-12">
                                                        <span class="thong-tin-thanh-toan">
                                                            Chỉnh sửa Blog
                                                        </span>
                                                    </div>
                                                </div>
                                                <form class="row" asp-action="editBlog" asp-controller="Blog" method="post" enctype="multipart/form-data">
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">ID</label>
                                                        <input class="form-control" name="id" type="text" required value="@item.Idblog" readonly>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label class="control-label">Tiêu đề</label>
                                                        <input class="form-control" name="title" type="text" required value="@item.TieuDe">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Ảnh </label>
                                                        <div id="myfileupload">
                                                            <input type="file" id="uploadfile" name="ImageUpload" onchange="readURL(this);" />
                                                        </div>
                                                        <div id="thumbbox">
                                                            <img src="@item.Anh" height="300" width="300" alt="Thumb image" id="thumbimage" />
                                                            <a class="removeimg" href="javascript:"></a>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Nội dung </label>
                                                        <textarea name="content" id="mota@(item.Idblog)" class="form-control">@item.NoiDungBlog</textarea>
                                                        <script>CKEDITOR.replace('mota@(item.Idblog)');</script>
                                                    </div>
                                                    <BR>
                                                    <BR>
                                                    <BR>
                                                    <button class="btn btn-save" type="submit">Lưu lại</button>
                                                    <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                                </form>

                                                <BR>
                                            </div>
                                            <div class="modal-footer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function DeleteBlog(i) {
            swal({
                title: "Cảnh báo",

                text: "Bạn có chắc chắn là muốn xóa blog?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {

                        swal("Đã xóa thành công.!", {

                        });
                        window.location.href = "@(Context.Request.PathBase)/Blog/DeleteBlog?id=" + i;
                    }
                });
        }
    </script>
</div>